[submodule "vim/plugged/dracula"]
	path = vim/plugged/dracula
	url = https://github.com/dracula/vim.git
[submodule "vim/plugged/oceanic-next"]
	path = vim/plugged/oceanic-next
	url = https://github.com/mhartington/oceanic-next.git
[submodule "vim/plugged/vim-instant-markdown"]
	path = vim/plugged/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule "vim/plugged/yajs.vim"]
	path = vim/plugged/yajs.vim
	url = https://github.com/othree/yajs.vim.git
[submodule "vim/plugged/vim-jsx"]
	path = vim/plugged/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/plugged/codi.vim"]
	path = vim/plugged/codi.vim
	url = https://github.com/metakirby5/codi.vim.git
[submodule "vim/plugged/vim-prettier"]
	path = vim/plugged/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "vim/plugged/nerdcommenter"]
	path = vim/plugged/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/plugged/indentline"]
	path = vim/plugged/indentline
	url = https://github.com/Yggdroot/indentLine.git
